html,body{
    background: rgb(61, 61, 61);
    height: 100%;
}

.col{
    background: rgb(100, 100, 100);
    width: 60% !important;
    height: 80% !important;
    justify-content: center;
    align-items: center;
}