html,
body {
    background: rgb(61, 61, 61);
    height: 100%;
}

.col {

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 80%;
    background-color: #ccc;
    border-radius: 3px;
}

.cpu,
canvas {
    margin-top: 2%;
}

.ram {
    margin-top: 2%;
}

.cputext {
    text-align: center;
}

div.cpu-chart-tooltip {
    background: #444;
    padding: 1em;
    margin-top: 20px;
    font-family: consolas;
    color: white;
    font-size: 10px;
    pointer-events: none;
}

.display {
    width: 100%;
}